@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-navy-50: #f0f4ff;
  --color-navy-100: #dde7ff;
  --color-navy-200: #c7d8ff;
  --color-navy-300: #a5bdff;
  --color-navy-400: #6b7fff;
  --color-navy-500: #2A4073;
  --color-navy-600: #1e2d5a;
  --color-navy-700: #16213d;
  --color-navy-800: #0f1729;
  --color-navy-900: #0f1629;
  --color-navy-950: #0a0f1a;

  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #4FA391;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;
  --color-teal-950: #042f2e;
}